@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    margin: 0 auto;
    background-color: black;
    max-width: 1000px;
    padding: 0 20px;
}

a {
   text-decoration: none;
}

.chat {
    background-color: darkgrey;
    width: 1000px;
    height: 600px;
    border: darkcyan solid 2px;
    border-radius: 4px;
}

.messages-form {
    overflow: auto;
    border: firebrick solid 2px;
    width: 1000px;
    height: 420px;
}

.username {
    font-family: Fredoka One;
    font-style: normal;
    font-size: 36px;
    transform: translateY(-50%);
    margin-top: 20px;
    color: green;
}

h1 {
    cursor: pointer;
    text-shadow:
        1px 1px 0 hsl(200,100%,35%),
        2px 2px 0 hsl(200,100%,55%),
        3px 3px 0 hsl(200,100%,60%),
        4px 4px 0 hsl(200,100%,65%),
        5px 5px 0 hsl(200,100%,70%),
        6px 6px 0 hsl(200,100%,75%),
        7px 7px 0 hsl(200,100%,80%),
        8px 8px 0 hsl(200,100%,85%);
    color: transparent;
    transition: all 1s;
    font-family: Fredoka One;
    font-style: normal;
    font-size: 40px;
}

h1:hover {
    text-shadow: -8px 8px 0 hsl(290,100%,40%),
             -7px 7px 0 hsl(290,100%,40%),
             -6px 6px 0 hsl(280,100%,60%),
             -5px 5px 0 hsl(280,100%,60%),
             -4px 4px 0 hsl(270,100%,75%),
             -3px 3px 0 hsl(270,100%,80%),
             -2px 2px 0 hsl(260,100%,85%),
             -1px 1px 0 hsl(260,100%,90%);

  color: hsl(300,100%,30%);
}

.form-submit {
    border-radius: 3px;
    background: linear-gradient(#6e7078, #515156, #6e7078);
    color: #d1d1d9;
    text-decoration: none;
    text-shadow: 0 -1px 2px #cccccc;
    padding: .5em 1em;
    outline: none;
    box-shadow:
       0 1px #ffffff inset,
       0 3px 5px #808083,
       0 0 1px 1px #cccccd;
      transition: .2s ease-in-out;
}

.form-submit:hover:not(:active) {
    background: linear-gradient(#7e7e86, #46474c, #7e7e86);
}

.form-submit:active {
    background: linear-gradient(#4c4d52, #38383e, #7e7e86);
    box-shadow:
       0 0 1px #808080 inset,
       0 2px 3px #808080 inset,
       0 1px 1px #ffffff;

}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.name-right {
    float: right;
    color: #aaa;
}

.b-popup{
    width: 100%;
    min-height: 100%;
    background-color: #6e7078;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.b-popup .b-popup-content{
    margin: 40px auto 0 auto;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.button-flag-icon {
    width: 50px;
    height: 50px;
}

.rules-text {
    font-size: 25px;
}

.link-rules {
    font-size: 40px;
    color: brown;
}

.headline-online{
    font-size: 30px;
    color: purple;
}

.online-people {
    color: purple;
    font-size: 30px;
    position: relative;
    bottom: 67px;
    left: 120px;
}

#modalWindow {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 18px 9px;
    border-radius: 4px;
    background: url("../img/command_window.jpg") no-repeat;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}

#modalWindow #modalWindow_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 1px;
    right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
    color: white;
}

#myOverlay {
    z-index: 37;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.dropdown-menu{
    position: relative;
    left: 1100px;
}

.style-button{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    margin: 4px 2px;
}

.dropdown-style-text {
    background-color: darkgrey;
    margin-left:30px;
    margin-top: 30px;
    display: none;
}

.create-rooms {
    font-size: 40px;
    position: relative;
    left: 180px;
    bottom: 60px;
}

.myModal {
    width: 600px; height: 600px;
    margin: 0 auto;
    padding: 18px 9px;
	border-radius: 4px;
	background: #fafafa;
	position: fixed;
	top: 0;	left: 0; right: 0; bottom: 0;
	display: none;
	opacity: 0;
	z-index: 38;
    text-align: center;
}

.myModal .myModal__close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 1px;
    right: 11px;
    cursor: pointer;
    display: block;
    font-size: 29px;
}

.my_overlay {
    z-index: 37;
	position: fixed;
	background-color: rgba(0,0,0,.7);
	width: 100%; height: 100%;
	top: 0; left: 0;
	cursor :pointer;
	display :none;
}

.register-room {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.size-photo {
    width: 300px;
    height: 300px;
}

.red-button {
    color: green;
    font-size: 40px;
}

.room-text {
    color: white;
}

.random-color-div {
    font-size: 35px;
}

.delete-red-button {
    color: red;
    font-size: 35px;
}

.hide_send_button {
    position: fixed;
    z-index: 999999;
}