<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Anonymous chat</title>
</head>
<body>

    <h2>Anonymous chat</h2>

    <div class="container">
      <p>Hello. How are you today?</p>
      <span class="time-right">11:00</span>
    </div>


    <div class="container">
      <p>Sweet! So, what do you wanna do today?</p>
      <span class="time-right">11:02</span>
    </div>

    <form action="/" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
        <input id="input-chat" name="input-chat" type="text" value=""/>
        <input type="submit" value="Send"/>
    </form>

</body>
</html>