<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Anonymous chat</title>
</head>
<body>

    <h2>Anonymous chat</h2>
    <p>Your nick is {{ user }}}</p>

    <div class="chat">

        <div class="messages-form" id="mess_form">

            {% for message in messages %}

                <div class="container" id="message">
                  <p>{{ message['message'] }}</p>
                  <span class="name-right">{{ message['user'] }}</span>
                </div>

            {% endfor %}
        </div>

        <div class="chat-input">
            <form action="/" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" id="chat-form">
                <textarea rows="5" id="chat-text" name="chat-text" type="text" value="" placeholder="Введите сообщение"></textarea>
                <input id="submit" type="submit" class="form-submit" value="Send :)"/>
            </form>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        var block = document.getElementById("mess_form");
        block.scrollTop = block.scrollHeight;
        console.log('Start');

        try{
            var socket = new WebSocket('ws://' + window.location.host + '/ws');
        }
        catch(err){
            var socket = new WebSocket('wss://' + window.location.host + '/ws');
        }

        function showMessage(message) {
            console.log(message);
            console.log(message.data);

            var mainElem = $('#chat'), height = 0;
            var dataObj = JSON.parse(message.data);
            if (!!dataObj.texts && !!dataObj.user){
                htmlText =  '<div class="container" id="message">' +
                          '     <p>' + dataObj.texts + '</p>' +
                          '     <span class="name-right">' + dataObj.user + '</span>' +
                            '</div>';
                console.log(htmlText);
            }
            console.log(htmlText);

            mainElem.append(htmlText);
            mainElem.find('p').each(function (i, value){
                height += parseInt($(this).height())
            });
            mainElem.animate({scrollTop: height});

        }

        function sendMessage() {
            var message = $('#chat-text');
            socket.send(message.val());
            message.val('').focus();
        }

        socket.onopen = function (){
            showMessage('Connection to server');
        }

        $('#submit').click(function (){
            sendMessage()
        })

        $('#chat-text').keyup(function (e) {
            if (e.keyCode == 13){
                sendMessage()
            }
        })

        socket.onmessage = function (event) {
            showMessage(event.data)
        };

        socket.onclose = function (event) {
            if (event.wasClean) {
                showMessage('Clean connection end');
            }
            else {
                showMessage('Connection broken');
            }
        };

        socket.onerror = function (error) {
            showMessage(error);
        };


    </script>

</body>
</html>