<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Anonymous chat</title>
</head>
<body>

    <h1>Anonymous chat</h1>
    <div class="username">Your nick: {{ user }}}</div>

    <div class="chat">

        <div class="messages-form" id="mess_form">

            {% for message in messages %}

                <div class="container" id="message">
                  <p>{{ message['message'] }}</p>
                  <span class="name-right">{{ message['user'] }}</span>
                </div>

            {% endfor %}
        </div>

        <div class="chat-input">
            <form action="/" method="post" onsubmit="return false" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" id="chat-form">
                <textarea maxlength="400" rows="5" id="chat-text" name="chat-text" type="text" value="" placeholder="Введите сообщение"></textarea>
                <input id="submit" type="submit" class="form-submit" value="Send :)"/>
                <button id="btn-clear" class="form-submit">Очистить поле</button>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/send_message.js"></script>
    <script type="text/javascript" src="../static/js/clear_button.js"></script>
</body>
</html>